<div>
  <h2>Data Load</h2>
  <table>
    <tr>
      <td>Insert SAS:</td>
      <td><input type="text" (change)="setSas($event)" size="40" /></td>
    </tr>
    <tr>
      <td>Current SAS:</td>
      <td>{{ sas }}</td>
    </tr>

    <tr>
      <td><input type="file" (change)="imageSelected($event)" /></td>
      <td><button (click)="imageSelected($event)">Upload</button></td>
    </tr>
  </table>

  <select *ngFor="let food of foods">
    <option value="{{ food.value }}">{{ food.viewValue }}</option>
  </select>

  <h4>File List</h4>
  <table>
    <tr>
      <td><button (click)="pictures = !pictures">Pictures</button></td>
    </tr>
    <tr *ngIf="pictures">
      <li *ngFor="let pic of picturesList">
        {{ pic }}
      </li>
      <!-- <td><button (click)="deleteImage(pic)">DELETE</button></td>
      <td>
        <button (click)="downloadImage(pic)" download="pic">DOWNLOAD</button>
      </td> -->
    </tr>
  </table>
  <!-- <h4>Downloaded</h4>
  <img
    *ngFor="let blob of picturesDownloaded"
    src="{{ blob }}"
    height="100px"
  /> -->
</div>
